* {
    padding: 0; margin: 0;
}

form {
    padding: 32px;
}

#results {
    display: flex;
}

#map {
    width: 640px; height: 480px;
}

#info {
    padding: 32px;
}

#container {
}

#title {
    margin-bottom: 16px;
}

#description {
    margin-bottom: 8px;
}